<% layout('layout') %>
<h1>新增任務</h1>
<form method="POST" action='do_addtodoList'>
    要做的事情：<input type="text" name="todo"><br/>
    <input type="submit" value="送出">
</form>
<button onclick="window.location.href='todoList'">回上一頁</button>