<% layout('layout') %>


    <div class="wrap">
        <div class="header">
            <div class="menu">
                <ul>
                    <li><a href="clock" class="blue">Timer</a></li>
                    <li><a href="member/todoList">Todo List</a></li>
                    <li><a href="member/doneList">History</a></li>
                </ul>
            </div>

            <div class="menu_right">
                <ul>
                    <li><a href="#" class="big-link login" data-reveal-id="login">登入</a></li>
                </ul>

            </div>
        </div>
        <div class="clear"></div>

        <div class="content">
            <div class="des_to_time">
                <div class="center_v">
                    <p>FOCUS 30 SECS</p>
                    <p>5 SECS BREAK</p>
                    <p>FOR A TOMATO</p>
                </div>
            </div>

            <div class="clock">
                <div class="clock_frame gray">
                    <img src="./img/時針.png" class="hour">
                    <div class="clear"></div>
                    <img src="./img/秒針.png" class="sec">
                </div>
                <div class="timer_tomato_img">
                    <img src="./img/tomato_work.png" class="tomato_work">
                </div>
            </div>

            <div class="task_right">
                <div class="status">
                        <a href="#" class="big-link login" data-reveal-id="not_login"><button class="start_btn yellow" style="margin-top:130px">START</button></a><br>
                </div>
            </div>
        </div>
        <div class="clear"></div>

        <div id="login" class="reveal-modal">
            <h1 style="margin-bottom:20px;">登入</h1>
            <form method="POST" action='do_signin'>
            <p class="dialog_p">帳號 <input class="dialog_input" type="text" width="350px" size="24" name="uid"></p>
            <p class="dialog_p">密碼 <input class="dialog_input" type="password" width="350px" size="24" name="upwd"></p>
            <a href="#" class="big-link login" data-reveal-id="enroll"><button style="margin-right:20px;" class="dialog_btn_w"
                    value="enroll">註冊</button></a>
            <button class="dialog_btn_g" value="login" type="submit">確定</button>
            </form>
            <a class="close-reveal-modal">&#215;</a>
        </div>

        <div id="enroll" class="reveal-modal">
            <h1>註冊</h1>
            <form method="POST" action='do_signup'>
                    <input type="hidden" name="uname" value="新使用者">
            <p class="dialog_p">帳號 <input class="dialog_input" type="text" width="350px" size="24" name="uid"></p>
            <p class="dialog_p">密碼 <input class="dialog_input" type="password" width="350px" size="24" name="upwd"></p>
            <!-- <button class="dialog_btn_w" value="enroll">登入</button> -->
            <button class="dialog_btn_o" value="enter"  type="submit">確定</button>
        </form>
            <a class="close-reveal-modal">&#215;</a>
        </div>

        <div id="not_login" class="reveal-modal">
			<p class="dialog_des">你確定要在</p>
			<p class="dialog_des">未登入的情況下開始？</p>
			<p class="dialog_des" style="margin-bottom:10px">（如此並不會累計蕃茄喔）</p>
            <button class="dialog_des_btn_g" value="enroll">登入</button>
            <button class="dialog_des_btn_w" value="login">確定</button>
			<a class="close-reveal-modal">&#215;</a>
		</div>

        <div class="footer"></div>
        <div class="clear"></div>
    </div>

