<% layout('layout') %>

<div class="wrap">
    <div class="header">
        <div class="menu">
            <ul>
                <li><a href="clock">Timer</a></li>
                <li><a href="member/todoList">Todo List</a></li>
                <li><a href="member/doneList">History</a></li>
            </ul>
        </div>

        <div class="menu_right">
            <ul>
                <li><a href="member/profile"><img src="./img/user.png" class="user_img"></img></a></li>
        
            </ul>
        </div>
    </div>
    <div class="clear"></div>

    <div class="content">
        <div class="con_left">
            <div class="ready">
                <p class="asking_word">你要開始專心了嗎？</p>
                <button class="start"><img src="img/arrow_nbk.png"></button>
            </div>

            <div class="add_todo_list">
                <p class="asking_word">先新增你的待辦事項吧<br>這樣才能收集茄茄我</p>
                <div class="space"></div>

                <div class="clear"></div>

                <div class="todo_list_btn_frame">
                    <p>add todo list</p>
                    <a href="member/todoList"><button class="todo_list_btn">Todo List</button></a>
                </div>
                <a href="#" class="no_to_add">不要</a>
            </div>
        </div>

        <div class="con_right">
            <img class="tomato_img" src="./img/tomato_layzy.png" />
        </div>
    </div>
    <div class="clear"></div>

    <div class="footer"></div>
    <div class="clear"></div>
</div>

<script>
    $('.start').click(function (e) {
        $('.ready').hide();
        $('.add_todo_list').fadeIn(1000);
    });
</script>
