<% layout('layout') %>
<form method="POST" action='do_signup'>
    暱稱：<input type="text" name="uname"><br/>
    帳號：<input type="text" name="uid"><br/>
    密碼：<input type="password" name="upwd"><br/>
    <input type="submit" value="送出">
</form>