<% layout('layout') %>
<h1>開始計時</h1>
<form method="POST" action='clock'>
    倒數(分鐘)：<input type="text" name="time"><br/>
    <input type="hidden" value= '<%= itemID   %>' name='itemID'>
    <input type="hidden" value= '<%= unumber   %>' name='unumber'>
    <input type="hidden" value= '<%= mission   %>' name='mission'>
    <input type="submit" value="送出">
</form>